<ul>
  <li><%= link_to "Manufacturers", manufacturers_path %></li>
  <li><%= link_to "New Manufacturer", new_manufacturer_path %></li>
  <li><%= link_to "Cars", cars_path %></li>
  <li><%= link_to "New Car", new_car_path %></li>
</ul>
